[user]
  name = mustangflyer
  email = mustangflyer@users.noreply.github.com

[push]
  default = simple

[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  pager = less -x4

[alias]
  a = add
  ap = add --patch
  b = branch
  d = diff
  dw = diff --word-diff
  f = fetch
  i = commit
  ia = commit --amend --no-edit
  iae = commit --amend
  im = "!f() { git commit -m \"$*\"; }; f"
  l = log --shortstat --summary
  o = checkout
  p = pull
  s = status --short --branch

  autosquash = rebase -i --autosquash
  fixup = commit --fixup

  changes = "!f() { git diff "$1^" "$1"; }; f"

  graph = log --graph --decorate --all --format=format:\
'%C(yellow)%h%C(reset) %C(red)%aN%C(reset) %C(bold black)(%ar)%C(reset) \
%C(dim magenta)%d%C(reset)%n%C(white)%s%C(reset)'

  uncommit = reset --soft HEAD^

