[user]
  name = mustangflyer
  email = mustangflyer@users.noreply.github.com

[push]
  default = simple

[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  pager = less -x4

[alias]
  a = add
  b = branch
  d = diff
  f = fetch
  i = commit
  l = log
  o = checkout
  p = pull
  s = status
  ia = commit --amend
  im = "!f() { git commit -m \"$*\"; }; f"
  ls = ls-files
  w = whatchanged
  unadd = reset HEAD
  uncommit = reset --soft HEAD\\^
  changes = "!f() { git diff $1\\^ $1; }; f"
