[user]
	name = mustangflyer
	email = mustangflyer@users.noreply.github.com
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit -m
	wt = worktree
	ls = ls-files
	last = log -3 HEAD
	uncommit = reset --soft HEAD\\^
