!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                false
Xft.hintstyle:              hintfull
Xft.autohint:               true
Xft.lcdfilter:              lcddefault

!-------------------------------------------------------------------------------
! URXVT settings
!-----------------------------------------------------------------------------

! bell
URxvt.urgentOnBell:         true

! border
URxvt.internalBorder:       1

! color
URxvt.depth:                32
URxvt.background:           #000000
URxvt.foreground:           #c1c1c1

! compat
URxvt.iso14755:             false

! cursor
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true

! ext
URxvt.perl-ext-common:      default,matcher
URxvt.url-launcher:         firefox
URxvt.matcher.button:       2

! font
URxvt.font:                 xft:DejaVuSansMono:pixelsize=10,xft:unifont:pixelsize=10
URxvt.letterSpace:          -1
URxvt.antialias:            true
URxvt.hinting:              medium

! scroll
URxvt.scrollStyle:          plain
URxvt.scrollBar:            false
URxvt.secondaryScreen:      true
URxvt.secondaryScroll:      false
URxvt.secondaryWheel:       false

! transparency
URxvt.transparent:          true
URxvt.shading:              25
