[Unit]
Description=graphical notification daemon
Documentation=man:dunst(1)
PartOf=wayland.target

[Service]
ExecStart=/usr/bin/dunst

[Install]
WantedBy=wayland.target
