[Unit]
Description=emacs server daemon
Documentation=man:emacs(1) man:emacsclient(1)

[Service]
Type=forking
ExecStart=/etc/profiles/per-user/%u/bin/emacs --daemon
ExecStop=/etc/profiles/per-user/%u/bin/emacsclient --eval "(kill-emacs)"

[Install]
WantedBy=daemon.target
