[Unit]
Description=Music Player Daemon (socket activation)
Documentation=man:mpd(1)

[Socket]
ListenStream=%t/mpd
SocketMode=0700
KeepAlive=true
PassCredentials=true

[Install]
WantedBy=daemon.target
