[Unit]
Description=Music Player Daemon (socket activation)
Documentation=man:mpd(1)

[Socket]
ListenStream=127.0.0.1:6600
SocketMode=0700
KeepAlive=true

[Install]
WantedBy=daemon.target
