[Unit]
Description=redshift
Documentation=man:redshift(1)
PartOf=wayland.target

[Service]
ExecStart=/usr/bin/redshift

[Install]
WantedBy=wayland.target
