[Unit]
Description=urxvt daemon
Documentation=man:urxvtd(1) man:urxvt(1)
PartOf=wayland.target

[Service]
Environment='RXVT_SOCKET=%t/urxvtd'
ExecStart=/usr/bin/urxvtd

[Install]
WantedBy=wayland.target
