[Unit]
Description=wallpaper
Documentation=man:feh(1)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/feh --no-fehbg --bg-scale %h/.wallpaper

[Install]
WantedBy=X11.target
