[Unit]
Description=sets xroot to the current wallpaper

[Service]
ExecStart=/usr/bin/feh --no-fehbg --bg-scale %h/.wallpaper

[Install]
WantedBy=X11.target
