[Unit]
Description=X11 keyboard configuration
Documentation=man:setxkbmap(1) man:xset(1) man:xmodmap(1)

[Service]
Type=oneshot
RemainAfterExit=yes

# keyboard repeat rate
ExecStartPre=/usr/bin/xset r rate 200 30

# load keymap & options:
#  grp:switch          - AltGr switches to level2 keymap while held
#  nbsp:level2         - S-SPC causes non-breaking space
#  keybpad:pointerkeys - S-NumLock activates mousekeys
ExecStartPre=/usr/bin/setxkbmap -option
ExecStart=/usr/bin/setxkbmap en_US,de -option grp:switch,nbsp:level2,keypad:pointerkeys

# key modifications
ExecStartPost=/usr/bin/xmodmap ${XDG_CONFIG_HOME}/X11/Xmodmap

[Install]
WantedBy=X11.target
